<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <form action="/contacto" method="POST">
      <div>
        <label for="say">Say: </label>
        <input name="say" value="Hi"/>
      </div><br/>
      <div>
        <label for="to">To: </label>
        <input name="to" value="Express forms"/>
      </div><br/>
      <button type="submit">Send my greetings</button>
    </form>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>